<html lang="ru">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>

    <div class="content">
      <h2>Упс! Что-то пошло не так.</h2>
      <p class="error-message">
        Приносим извинения, но похоже, произошла ошибка при обработке вашего
        запроса. Пожалуйста, попробуйте еще раз позже или свяжитесь с поддержкой
        для помощи.
      </p>
    </div>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
