<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>

    <div class="content">
      <h2>Добро Пожаловать в DentX</h2>

      <!-- Rest of your content goes here -->
      <p class="welcome">
        Мы помогаем вам с легкостью находить и приобретать все необходимые
        продукты для вашей стоматологической заботы. Пожалуйста, загрузите наше
        приложение абсолютно бесплатно, и откройте для себя новый уровень
        комфорта и уверенности в уходе за вашим здоровьем.
      </p>

      <!-- Links to App Store and Google Play Store -->
      <div class="app-links">
        <a
          href="https://apps.apple.com/kz/app/dentx/id6478850374"
          target="_blank"
        >
          <img src="./images/assets/app_store.webp" alt="App Store" />
        </a>
        <a href="link_to_play_store" target="_blank">
          <img src="./images/assets/play_store.webp" alt="Google Play Store" />
        </a>
      </div>
    </div>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
