<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>

    <div class="content">
      <h2>Спасибо! Мы получили ваше сообщение.</h2>
      <p class="thank-you">
        Мы свяжемся с вами в ближайшее время. Спасибо за ваше обращение!
      </p>
    </div>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
