<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>DentX | <%= title %></title>
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");
    body {
      max-width: 1200px;
      margin: 20px auto;
      padding: 0 20px;
      font-family: "Noto Serif", serif;
      max-width: 1200px;
    }
    p,
    h1,
    h2,
    h3,
    a,
    ul {
      margin: 0;
      padding: 0;
      text-decoration: none;
      color: #222;
    }

    /* nav & footer styles */
    nav {
      display: flex;
      justify-content: space-between;
      margin-bottom: 60px;
      padding-bottom: 10px;
      border-bottom: 1px solid #ddd;
      text-transform: uppercase;
    }
    nav ul {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
    nav li {
      list-style-type: none;
      margin-left: 20px;
    }
    nav h1 {
      font-size: 3em;
    }
    nav p,
    nav a {
      color: #777;
      font-weight: 300;
    }
    footer {
      color: #777;
      text-align: center;
      margin: 80px auto 20px;
    }
    h2 {
      margin-bottom: 40px;
    }
    h3 {
      text-transform: capitalize;
      margin-bottom: 8px;
    }

    h2 {
      font-size: 28px;
      color: #333;
    }
    .content {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
    }

    p.welcome {
      font-size: 18px;
      line-height: 1.6;
      color: #666;
    }

    .app-links {
      margin-top: 20px;
    }

    .app-links a {
      display: inline-block;
      margin-right: 10px;
    }

    .app-links img {
      width: 250px; /* Adjust the width according to your image size */
      height: auto; /* Maintain aspect ratio */
    }
    /* index styles */

    /* details styles */

    /* create styles */
    .contact form {
      max-width: 400px;
      margin: 0 auto;
    }
    .contact input,
    .contact textarea {
      display: block;
      width: 100%;
      margin: 10px 0;
      padding: 12px; /* Increased padding for better spacing */
      border: 1px solid #ccc; /* Added border for better visibility */
      border-radius: 6px; /* Rounded corners */
      box-sizing: border-box; /* Ensure padding and border are included in width */
      font-size: 16px; /* Increased font size for better readability */
    }

    .contact label {
      display: block;
      margin-top: 24px;
      font-size: 18px; /* Slightly increased font size for better emphasis */
    }

    .thank-you {
      font-size: 18px;
      line-height: 1.6;
      color: #666;
    }

    .error-message {
      font-size: 18px;
      line-height: 1.6;
      color: #666;
    }
    textarea {
      height: 150px; /* Increased height for better usability */
    }

    button {
      background-color: #4caf50; /* Green background */
      border: none; /* Remove borders */
      color: white; /* White text color */
      padding: 15px 32px; /* Padding */
      text-align: center; /* Center text */
      text-decoration: none; /* Remove underline */
      display: inline-block; /* Make it inline */
      font-size: 16px; /* Font size */
      margin: 4px 2px; /* Margin */
      cursor: pointer; /* Cursor on hover */
      border-radius: 10px; /* Rounded corners */
    }

    /* Hover effect */
    button:hover {
      background-color: #45a049; /* Darker green */
    }
  </style>
</head>
