<nav>
  <div class="site-title">
    <a href="/"><h1>DentX</h1></a>
    <p></p>
  </div>
  <ul>
    <li><a href="/">Главная</a></li>
    <!-- <li><a href="/about">О Нас</a></li> -->
    <li><a href="/contact">Свяжитесь с нами</a></li>
  </ul>
</nav>
